.CurriculumVitae {
  padding: 1.875rem;

  .cv-title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.1875rem;
    text-transform: uppercase;
    color: var(--primary);
    margin-bottom: 1.5625rem;
  }

  .download-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.25rem;

    .download-btn {
      display: flex;
      align-items: center;
      gap: 0.625rem;
      text-decoration: none;
      cursor: pointer;
      background-color: transparent;
      border: 2px solid var(--primary);
      position: relative;
      padding: 0.75rem 2rem;
      transition: 0.5s;
      font-size: 1.5rem;
      border-radius: 3.125rem;
      font-family: Montserrat;
      font-weight: 500;
      color: var(--primary);

      p {
        margin: 0;
        padding: 0;
        transition: 0.5s;
      }

      span {
        font-size: 1.5rem;
        transition: 0.5s;
      }

      &:hover {
        background-color: var(--primary);
        color: var(--dark-2);
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .cv-title {
      font-size: 1.75rem;
    }
    .download-wrapper {
      justify-content: stretch;
      .download-btn {
        width: 100%;
        justify-content: center;
        transition: none;
        font-size: 1.3125rem;
        &:hover {
          background-color: transparent;
          color: var(--primary);
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 1.25rem;
    .cv-title {
      font-size: 1.125rem;
    }
    .download-wrapper {
      .download-btn {
        font-size: 1.125rem;
        height: 3.5rem;
      }
    }
  }
}
